body {
  text-align: center;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}   
#main{
  margin-top: 0px;
  height: 100vh;
}
#headings {
  margin: 0;
}



#main-image img{  
  height: 300px;
  width: 300px;
  border-radius: 10%;
}



#enter-task input{
  margin-top: 15px;
  height: 30px;
  width: 200px;
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: none;
  margin-right: 10px;
  text-align: center;
}

#enter-task input:hover{
  height: 33px;
  width: 220px;
  transition: ease-in 0.3s;
}

#task-list{
  list-style: none;
}

label{
  margin-right: 100px;
}
